.profile__name {
  max-width: 310px;
  min-width: 310px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  word-wrap: break-word;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
}

@media (min-width: 623px) and (max-width: 914px) {
  .profile__name {
    max-width: 250px;
    min-width: 250px;
  }
}

@media (min-width: 320px) and (max-width: 622px) {
  .profile__name {
    max-width: 189px;
    min-width: 189px;
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 5px;
    text-align: center;
  }
}