.header__link-exit {
  margin-left: auto;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #A9A9A9;
}

.header__link-exit:hover {
  opacity: 0.6;
}